<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <header>
        <a href="https://www.centennialcollege.ca/?utm_source=hsm&utm_medium=search&utm_campaign=alwayson&gclid=Cj0KCQjwlPWgBhDHARIsAH2xdNfgBDmFCdDo0k5bDS1QtSi4eQcx8Ddf9XkO7EEN7x5PKZjq4Dr6raAaAoIaEALw_wcB&gclsrc=aw.ds" target="_blank"><img src="https://www.centennialcollege.ca/media/hg5nrxf4/centennialcollege_logo_horizontal_rgb.jpg
            " alt="centennial Logo" height="150"></a> 
        <img src="https://i0.wp.com/canada.admissionhub.com/wp-content/uploads/sites/3/2022/03/275413911_10158951879698391_5902795246530770974_n-1-scaled.jpg?fit=1024%2C683&ssl=1" alt=" college building" height="150">
        <img src="https://media.licdn.com/dms/image/C4E0BAQH1VWy7C9VTVg/company-logo_200_200/0/1600790830038?e=2147483647&v=beta&t=nnt0u4R4ni1V1lLjhtYUxk51Wi2sdvfE6q1C76guS2I" alt="centennial badge" height="150">
    </header>
        <style>
ul.navbar-nav {
            list-style: none; /* Remove the bullet */
            display: inline; /* Display the list items inline */
            float:right;
            font-size:20px
            
}
        
ul.navbar-nav li {
            display: inline-block; /* Make the list items display inline */
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
html,
body {
  height: 100%;
  margin: 0;
}
/* body {
  display: flex;
  flex-direction: column;
} */
main {
  flex: 1;
}
 /* footer {
            background-color: #343a40;
            color: #ffffff;
            padding: 10px;
        }

        footer .navbar-text {
            margin-bottom: 0;
        } */
body{
    max-width: 60%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #cfed5a;
    background-image: linear-gradient(#7a781f,#cfed5a);
    background-repeat: no-repeat;
} 
header{
    text-align: center;
    }
.title {
    background-color: #7a781f;
    margin: 0;
    padding: 0.5em;
    color: white;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    color: #cfed5a;
    text-align: center;
    background-color: rgb(52, 50, 50);
}
.title > h1 {
    padding: 0em 1em;
}
footer{
    text-align: center;
    padding: 20px;
}
#main-form{
    font-size: 15px;
    background-color: rgba(3, 228, 213, 0.7);
}
input[type="text"], input[type="email"], input[type="tel"]{
color: black;
padding: 14px 20px;
margin: 8px 0;
border:none;
border-radius: 4px;
cursor: pointer;
}
input[type="submit"] ,[type="reset"]{
    width: 20%;
    background-color: rgb(162, 255, 0);
    color: rgb(0, 0, 0);
    border:none;
    border-radius: 4px;
    cursor: pointer;
    padding: 14px 20px;
}
input[type=submit]:hover,[type="reset"]:hover{
    background-color: #ffee00;
    }
    p{
        text-align: left;
        font-size:larger;
    }
    .radio-buttons{text-align: left;}
    .small{width: 20%;}

    </style>
</head>
<body>