<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h1>About Me</h1>
    <img src="/Image/My-image.png" alt="My Image"  style: width="100px"; height="100px">
    <p>Name: Keyvan Joghtapour</p>
    <p>About Me: With a lot of experience in Architecture , I am a talented software developer who is studing Game Programmming.</p>

    <p><a href="/resume.pdf" target="_blank">View My Resume (PDF)</a></p>

    <a href="/">Back to Home</a>

    </div>
    </main>
    
    <!--bottom nav-->
    
      <footer>
        <hr>
         Copyright &copy; 2023 Keyvan Joghtapour 301338469
        <br>
        Email: <a id="mail" href="mailto:kjoghtap@my.centennialcollegee.ca" target="_blank">kjoghtap@my.centennialcollegee.ca</a>
        <br>
        Web:  <a href="https://www.centennialcollege.ca/">https://www.centennialcollege.ca/</a>
      </footer>