<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to My Website</h1>
    <p>My home Page</p>
    </div>
    </main>
    <body>
      <p>This is my personal website.</p>
      <p>Mission Statement: [my mission statement here]</p>
      <a href="/about">About Me</a>
    </body>
    <!--bottom nav-->
    
      <footer>
        <hr>
         Copyright &copy; 2023 Keyvan Joghtapour 301338469
        <br>
        Email: <a id="mail" href="mailto:kjoghtap@my.centennialcollegee.ca" target="_blank">kjoghtap@my.centennialcollegee.ca</a>
        <br>
        Web:  <a href="https://www.centennialcollege.ca/">https://www.centennialcollege.ca/</a>
      </footer>