<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>my Projects </p>
    </div>
    </main>
    <body>
    
      <div class="project">
        <img src="/Image/1.jpg" alt="Kindergarden"style:  height="200px">
        <img src="/Image/2.jpg" alt="Kindergarden"style:  height="200px">
        <img src="/Image/3.jpg" alt="Kindergarden"style:  height="200px">

        <h2>Kindeergarden</h2>
        <p>Role: Designer, Architect</p>
        <p>Description: [Project Description]</p>
      </div>
    
      <div class="project">
        <img src="/Image/22.png" alt="asset"style:  height="150px">
        <img src="/Image/23.png" alt="asset"style:  height="150px">
        <img src="/Image/24.png" alt="asset"style:  height="150px">        
        <h2>Game asset Design</h2>
        <p>Role: Designer</p>
        <p>Description: [Project Description]</p>
      </div>
    
      <div class="project">
        <img src="/Image/11.png" alt="project"style:  height="200px">
        <img src="/Image/12.png" alt="project"style:  height="200px">
        <h2>Game Design</h2>
        <p>Role: Programmer, Asset Designer</p>
        <p>Description: [Project Description]</p>
      </div>
    
      <a href="/">Back to Home</a>
    </body>
    <!--bottom nav-->
    
   

      <footer>
        <hr>
         Copyright &copy; 2023 Keyvan Joghtapour 301338469
        <br>
        Email: <a id="mail" href="mailto:kjoghtap@my.centennialcollegee.ca" target="_blank">kjoghtap@my.centennialcollegee.ca</a>
        <br>
        Web:  <a href="https://www.centennialcollege.ca/">https://www.centennialcollege.ca/</a>
      </footer>
   