<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>our services</p>
    </div>
    </main>
    <body>
      <h1>My Services</h1>
    
      <div class="service">
        <img src="/images/service1.jpg" alt="Service 1">
        <h2>Service 1</h2>
        <p>Description: [Service Description]</p>
      </div>
    
      <div class="service">
        <img src="/images/service2.jpg" alt="Service 2">
        <h2>Service 2</h2>
        <p>Description: [Service Description]</p>
      </div>
    
      <div class="service">
        <img src="/images/service3.jpg" alt="Service 3">
        <h2>Service 3</h2>
        <p>Description: [Service Description]</p>
      </div>
    
      <a href="/">Back to Home</a>
    </body>
    <footer>
        <hr>
         Copyright &copy; 2023 Keyvan Joghtapour 301338469
        <br>
        Email: <a id="mail" href="mailto:kjoghtap@my.centennialcollegee.ca" target="_blank">kjoghtap@my.centennialcollegee.ca</a>
        <br>
        Web:  <a href="https://www.centennialcollege.ca/">https://www.centennialcollege.ca/</a>
    </footer>